@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var userDetail = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <meta http-equiv="Content-Security-Policy"
          content="base-uri 'self';
               default-src 'self';
               img-src 'self' data: https://m.media-amazon.com https://www.lego.com https://images.brickset.com https://www.brickeconomy.com https://www.yourwebsite.com/lib/photos;
               object-src 'none';
               script-src 'self' https://code.jquery.com;
               style-src 'self' https://fonts.googleapis.com;
               font-src 'self' https://fonts.gstatic.com;
               upgrade-insecure-requests;"> *@
    <title>@ViewData["Title"] - Aurora's Bricks</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_2_4AurorasBricks2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
</head>


    <body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">A Lego Store</span>
            <span class="site-heading-lower">Aurora's Bricks</span>
        </h1>
    </header>
            <nav class="navbar navbar-expand-lg py-lg-4" id="mainNav">
                <div class="container">
            <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Aurora's Bricks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto-left">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                    </li>
                    
                    @* <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="Cart"><img src="~/assets/img/cart-fotor-bg-remover-20240410201436.png" style="max-height: 35px; max-width: 35px; margin-left: 5px;" /></a>
                    </li> *@
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="AboutUs" >About Us</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="Privacy" >Privacy</a>
                    </li>
                    
                    
                    

                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-lg-4">
                        <div class="col-6 navbar-text text-end">
                            <vc:cart-summary />
                        </div>
                    </li>
                </ul>

            </div>
            </div>

                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-item px-lg-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>

                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">Users</a>

                                        <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">Roles</a>

                                        <a class="dropdown-item" asp-controller="Home" asp-action="AddProducts">Add Products</a>

                                        <a class="dropdown-item" asp-controller="Home" asp-action="EditProducts">Edit Products</a>
                                    </ul>
                                </li>
                            }
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            @*If the user is signed-in display Logout link*@
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <form method="post" id="logoutForm" asp-controller="Account" asp-action="Logout" style="display: none;"></form>

                                <li class="nav-item dropdown">
                                    <a class="nav-item px-lg-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Welcome, @User?.Identity?.Name</a>

                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" id="logoutLink" href="javascript:void(0);">Logout</a>

                                        <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>

                                        <a class="dropdown-item" asp-controller="Account" asp-action="UpdateProfile">Update Profile</a>

                                        @if (userDetail != null)
                                        {
                                            @if (userDetail.TwoFactorEnabled)
                                            {
                                                <a class="dropdown-item" asp-controller="Account" asp-action="ManageTwoFactorAuthentication">Disable 2FA</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" asp-controller="Account" asp-action="ManageTwoFactorAuthentication">Enable 2FA</a>
                                            }
                                        }
                                        else
                                        {
                                            <span class="dropdown-item disabled">No users found</span>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" asp-controller="account" asp-action="register">
                                        Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" asp-controller="account" asp-action="login">
                                        Login
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>


        <div class="container">
        <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-faded2 text-center py-5">
            <div class="container">
                <p class="m-0 small">
                    &copy; 2024 - AurorasBricks2-4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </p>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/scripts.js" defer></script>
        <script src="~/js/logout.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>