@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Aurora's Bricks'</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand m-lg-2">THE WATER PROJECT</span>
        </div>

        <div class="m-1 p-1">
            @RenderBody()
        </div>
    </body>
</html>
