@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Hi! My name is Aurora :)</span>
                            <span class="section-heading-lower">About Us</span>
                        </h2>
                        <div class="row">
                            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                                <img src="~/assets/img/legogirlaurora.jpg" class="img-fluid float-lg-right mr-lg-4 mb-lg-4" alt="Aurora Image" style="max-width: 250px;">
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    Hello there, LEGO enthusiasts and creative souls alike! My name is Aurora, and
                                    I'm thrilled to welcome you to my little corner of the internet where imagination knows no bounds.
                                </p>
                                <p>
                                    I'm not just in the business of selling personalized LEGO sets; I'm on a mission to spread
                                    <em>joy</em>, ignite <em>creativity</em>, and celebrate the <em>beauty</em> of being authentically you.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="section-heading mb-4"><span class="section-heading-upper">Be Brave.</span></h2>
                                <p>
                                    I believe in the power of LEGO to inspire the inner artist in all of us, whether you're a child
                                    exploring new worlds or an adult rediscovering the joy of play.
                                    Each LEGO creation is a canvas waiting to be transformed into something extraordinary,
                                    and I'm here to encourage you to unleash your creativity and embrace the adventure of building.
                                </p>
                                <p>
                                    Being brave in creating isn't just about taking risks; it's about having the
                                    courage to express yourself authentically and boldly.
                                    Whether you're customizing your own LEGO masterpiece or exploring new design possibilities,
                                    I'm here to cheer you on every step of the way.
                                </p>
                                <h2 class="section-heading mb-4"><span class="section-heading-upper">Be You.</span></h2>
                                <p>
                                    For me, making people happy isn't just a goal; it's a way of life.
                                    There's something truly magical about the joy that lights up someone's face when they receive a
                                    personalized LEGO set that speaks to their passions and dreams.
                                    It's that moment of pure delight that keeps me inspired and drives me to create with all my heart.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

