@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<br /><br />
<div class="container container-form">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <hgroup class="title">
                <h1>Forgot Password Confirmation</h1>
            </hgroup>
            <div>
                <p>
                    If you have an account with us, you will receive an email
                    with the instructions to reset your password.
                </p>
            </div>
            <br />
            <a class="btn btn-info" asp-controller="Home" asp-action="Index" style="background-color: gainsboro;">Return to Home</a>
        </div>
    </div>
</div>